<div class="alert alert-{{ key }}">
    {% if flash.closable %}
    <a class="close" data-dismiss="alert">×</a>
    {% endif %}
    <strong>{{ flash.title | trans }} :</strong> {{ flash.text | trans }}
</div>