<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Glit{% endblock %}</title>

    {% stylesheets filter='cssrewrite'
            'css/bootstrap.css'
            'css/bootstrap-forms.css'
            'css/glit.css'
            'css/bootstrap-responsive.css'
        %}
    <link href="{{ asset_url }}" rel="stylesheet" charset="utf-8"/>
    {% endstylesheets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}


</head>
<body>
{% include '::_navbar.html.twig' %}

<div class="container main">
    {% for key, flash in app.session.getFlashes() %}

    {% if flash.closable is defined %}
    {% include '::_flash-array.html.twig' with {'key': key, 'flash': flash} only %}
    {% else %}
    {% include '::_flash.html.twig' with {'key': key, 'flash': flash} only %}
    {% endif %}

    {% endfor %}

    {% block content %}{% endblock %}

</div>

<div class="container">
    <footer class="footer">
        <p class="pull-right"><a href="#">{% trans %}Back on top{% endtrans %}</a></p>
        {% if app.debug %}
        <p><strong>{% trans %}Site in dev mode{% endtrans %}</strong></p>
        {% endif %}
    </footer>
</div>

{% block debug %}{% endblock %}

{% javascripts filter=''
        'js/jquery.js'
        'js/bootstrap.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>
</html>