body {
    background: #EEE;

    padding-top: 40px;
}

.container.main {
    background: #FFF;
    border: 3px solid #BBB;
    border-top: 0px;
    padding: 10px;
}

.navbar .nav > li > a.navbar-user {
    font-weight: bold;
    color: #08C;
}

.page-header .actions {
    float: right;
}

.borders {
    border: 1px solid #CCC;
    -moz-box-shadow: 0 0 3px #ddd;
    -webkit-box-shadow: 0 0 3px #ddd;
    box-shadow: 0 0 3px #ddd;
}

.small {
    font-size: 11px;
    color: #999999;
}

.sidebar-nav {
    padding: 9px 0;
}