body {
    background: #EEE;

    padding-top: 40px;
}

.container.main {
    background: #FFF;
    border: 3px solid #BBB;
    border-top: 0px;
    padding: 10px;
}

.navbar .nav > li > a.navbar-user {
    font-weight: bold;
    color: #08C;
}
