{% extends 'GlitUserBundle:Default:layout.html.twig' %}

{% block class_active_infos %}class="active"{% endblock %}

{% block layout_content %}
<div class="row-fluid">
    <h1>Votre Profil</h1>
</div>
<div class="row-fluid">

</div>
{% endblock %}