{% form_theme form ':Form:form_horizontal_layout.html.twig' %}

<form class="form-horizontal">
    {{ form_widget(form._token) }}

    <fieldset>
        <legend>{% trans %}Password{% endtrans %}</legend>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans %}Change Password{% endtrans %}</button>
        </div>
    </fieldset>
</form>