{% extends 'GlitUserBundle:Default:layout.html.twig' %}

{% block class_active_profile %}class="active"{% endblock %}

{% block layout_content %}
<div class="page-header">
    <h1>
        {% trans with {'%username%': user.username} %}Hi %username%{% endtrans %} !
        <small>{% trans %}This is your page{% endtrans %}</small>
    </h1>
</div>
<div class="row-fluid">

    <div class="span6">
        <div class="row-fluid">
            <div class="pull-right">
                <a href="{{ path('glit_projects_default_new', {'uniqueName': app.user}) }}"
                   class="btn btn-small">{% trans %}New Project{% endtrans %}</a>
            </div>
            <h2>Your Projects</h2>
        </div>
        <div class="row-fluid">
            {% if own_projects|length > 0 %}
            <ul class="unstyled project-list">
                {% for project in own_projects %}
                <li>
                    <h3>
                        <i class="icon-lock"></i>
                        <a href="{{ path('glit_projects_default_view', {'accountName': user.username, 'projectPath': project.path}) }}">{{ project.name }}</a>
                    </h3>

                    <div class="body">
                        <p class="description">{{ project.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="span6">
        <h2>Your Activities</h2>
    </div>

</div>
        {% endblock %}