{% extends '::base.html.twig' %}

{% block content %}

<div class="row-fluid">

    <form action="{{ path("_security_login_check") }}" method="post">
        <fieldset>
            <legend>{% trans %}Login{% endtrans %}</legend>
            <div class="control-group">
                <label class="control-label" for="_username">{% trans %}Username :{% endtrans %}</label>

                <div class="controls">
                    <input type="text" name="_username" id="_username" value="{{ last_username }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="_password">{% trans %}Password :{% endtrans %}</label>

                <div class="controls">
                    <input type="password" name="_password" id="_password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">{% trans %}Login{% endtrans %}</button>
        </fieldset>
    </form>

</div>
        {% endblock %}