{% extends 'GlitAdminBundle::layout.html.twig' %}

{% block class_active_dashboard %}class="active"{% endblock %}

{% block layout_content %}

<header>
    <h1>{% trans %}Dashboard{% endtrans %}</h1>
</header>

        {% endblock%}